body {
          background-image: url('../Web images/the_bad_guys2.jpg');
          height: 100%;
          width: 100%;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          background-attachment: fixed;
}
header {
          margin-top: 0px;
}
section {
          padding-top: 100px;
          width: 70%;
          margin: 0 auto;
          background-color: rgba(0,0,0,0.5);
}
#poster {
          display: block;
          margin: 0 auto;
          /* margin-top: 100px; */
          border: 5px solid white;
          border-radius: 5px;
}
#watch_trailar_or_full {
          margin-top: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
}
#watch_trailar_or_full img {
          margin-left: 15px;
          margin-right: 15px;
}
#watch_trailar_or_full img:hover {
          opacity: 0.5;
}
video {
          display: block;
          margin: 0 auto;
}
.ribbon {
          color: white;
}
p {
          color: white;
          text-align: justify;
          margin-left: 40px;
          margin-right: 40px;
          margin-bottom: 40px;
          font-size: 24px;
          font-family: "Poor Story", san-serif;
}
#movie_info {
          color: white;
          display: inline;
          line-height: 60px;
          list-style-type: none;
          color: white;
          font-family: "Cute Font", sans-serif;
          font-size: 28px;
}
#movie_info li {
          list-style-type: none;
          margin-left: 40px;
}
.ribbon {
          margin-top: 50px;
          margin-bottom: 50px;
          display: inline-block;
          background:  linear-gradient(to right , rgb(210, 28, 255), #903ffb );
          padding: 10px;
          margin-left: -20px;
          border-radius: 0px 5px 5px 0px;
          /* box-shadow: 0px 4px 4px black; */
}
.ribbon::before {
          position: absolute;
          right: 85%;
          margin-top: 37px;
          content: "";
          border-top: 10px solid rgb(100, 0, 128) ;
          border-bottom: 10px solid transparent;
          border-left: 10px solid transparent;
          border-right: 10px solid rgb(100, 0, 128);
}
.about_movie , .download {
          font-size: 24px;
          font-weight: bold;
}
.first_download, .second_download {
          display: block;
}